{% extends "base.html" %}  
      
{% block title %} {{block.super}}产品清单 {% endblock %}  
    
  {% block content %}   
  <div class="container">     
      <div class="page-header">  
      <h2>产品清单</h2>  
  </div>  
{% for item in list_items.object_list %}  
<div class="row" style="padding-top:10">  
    <div class="span3 media-grid">  
        <a href="#">  
        <img class="thumbnail" src="{{item.image_url}}" alt="">  
        </a>  
    </div>  
    <div class="span-two-thirds">  
        <h4>{{item.title}}</h4>  
        <h5>{{item.date_available|date:"Y-n-j"}}</h5>
        {{ item.description|truncatewords:"10" }}  
    </div>  
    <div class="span2" style="align:right">  
        <p><a class="btn primary" href="{% url depotapp.views.view_product item.id %}">查看</a></a> </p>  
        <p><a class="btn success" href="{% url depotapp.views.edit_product item.id %}">编辑</a> </p>  
        <p><a class="btn danger" href="#">删除</a></p>  
    </div>  
</div>  

{% endfor %}  

 <section>
<div class="row" style="padding-top:10">  
	<div class="span3 media-grid">  
		<p></p>
	</div>  		
	
	<div class="span-two-thirds">  					
		<div class='pagination'>
			<ul>
				{% if list_items.has_previous %}  
				<li><a href="?page={{ list_items.previous_page_number }}">Prev</a></li>  
				{% endif %}  	
					{% for pagen in paginator.page_range %}
						{% ifequal list_items.number pagen %}
						<li class="active"><a href="?page={{pagen}}">{{pagen}}</a></li>
						{% else %}
						<li ><a href="?page={{pagen}}">{{pagen}}</a></li>		
						{% endifequal %}
					{% endfor %}
				{% if list_items.has_next %}  
				<li><a href="?page={{ list_items.next_page_number }}">Next</a></li>  
				{% endif %}  
			</ul>
		</div>
	</div>  
	
	<div class='span2' style='align:right'>
		<p><a class="btn"  style="background-color: #999" href="{% url depotapp.views.create_product %}">新增产品</a></p> 
	</div>
</div>  
</section>


{% endblock %}  
